<% if notice %>
  <p class="p-3 mr-4 ml-4 mb-3 text-sm text-green-700 bg-green-100 rounded-md"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="p-3 mr-4 ml-4 mb-3 text-sm text-red-700 bg-red-100 rounded-md"><%= alert %></p>
<% end %>
